@import "../../settings";

.column {
  flex: 0 0 auto;
  width: 300px;
  max-height: calc(100% - 10px);
  margin-left: 10px;

  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    height: $column-header-height;
    font-size: 16px;
    font-weight: 600;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
    display: flex;
    align-items: center;

    .column-title {
      width: 90%;

      div {
        padding-left: 5px;
      }

      input {
        line-height: normal;
        border: none;
        outline: #0b75b3 solid 2px;
        padding: 2px;
        border-radius: 3px;
        width: 100%;
      }
    }

    .column-dropdown {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      .dropdown-toggle {
        padding: 0 8px 4px;
        border: none;

        &::after {
          content: "...";
          border: none;
        }

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }

  footer {
    padding: 5px $gap $gap;
    height: fit-content;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    color: #888;
    cursor: pointer;

    textarea {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 5px 0 5px 10px;
    }

    .group-btn {
      cursor: pointer;

      button {
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;
        background-color: #166ce4;
        color: #fff;
        border-radius: 5px;
      }

      .fa-times {
        margin-left: 4px;
        padding: 7px 10px;
        border-radius: 5px;
        color: #444;
      }

      .fa-times:hover {
        background-color: rgba(0, 0, 0, 0.24);
      }
    }

    .fa-plus {
      padding: 4px;
    }

    &:hover {
      color: #333;
    }
  }

  ul.card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(100% - #{$column-header-height} - 80px);
    overflow-y: auto;
  }
}
